@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@font-face {
    font-family: "Coolvetica";
    src: url("../../swaranusa_project/assets/Coolvetica Rg.otf") format("opentype");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background-color: #f8f8f8;
    font-family: "Coolvetica", "Montserrat", sans-serif;
    min-height: 100vh;
}

header {
    background: #ffffff;
}

.main-content {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content-area {
    padding: 32px 48px;
}

.content-area h1 {
    font-size: 28px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    margin-bottom: 20px;
}

.kelola-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.kelola-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    text-align: center;
    margin-bottom: 20px;
}

.kelola-profile img {
    border-radius: 50%;
    object-fit: cover;
    width: 100px;
    height: 100px;
}

.kelola-profile h2 {
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
}

.kelola-profile p {
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
}

.kelola-content {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.kelola-left,
.kelola-right {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.kelola-left div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.kelola-left div h3 {
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
}

.kelola-left div p {
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
}

.kelola-left div .cursor-pointer {
    cursor: pointer;
}

.kelola-left div .cursor-pointer:hover {
    text-decoration: underline;
}

.kelola-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.kelola-right h3 {
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
}

.kelola-right p {
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
}

.kelola-right .cursor-pointer {
    cursor: pointer;
}

.kelola-right .cursor-pointer:hover {
    text-decoration: underline;
}

.kelola-left div,
.kelola-right {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    padding: 25px;
    max-width: 470px;
    min-width: 300px;
}

@media (max-width: 1024px) {
    .content-area {
        padding: 24px 16px;
    }

    .kelola-container {
        align-items: center;
        width: 100%;
    }

    .kelola-profile {
        margin-bottom: 0;
    }

    .kelola-content {
        flex-direction: column;
        align-items: center;
        gap: 5px;
        width: 100%;
    }

    .kelola-left {
        align-items: center;
        gap: 25px;
        width: 100%;
        padding: 20px;
    }

    .kelola-left div {
        width: 100%;
        padding: 20px;
    }

    .kelola-right {
        width: 100%;
        padding: 20px;
    }

    .kelola-profile img {
        width: 85px;
        height: 85px;
    }
}

@media (max-width: 600px) {
    .content-area {
        padding: 16px;
    }

    .kelola-profile img {
        width: 70px;
        height: 70px;
    }

    .kelola-content {
        flex-direction: column;
        gap: 5px;
        width: 300px;
    }

    .kelola-left div {
        width: 300px;
        padding: 15px;
        border-radius: 10px;
    }

    .kelola-right {
        width: 300px;
        padding: 15px;
        border-radius: 10px;
    }
}